VITE_EMAILJS_SERVICE_ID=service_mld560n
VITE_EMAILJS_TEMPLATE_ID=template_57ayorx
VITE_EMAILJS_PUBLIC_KEY=_9xuNkAeAle5XXh1C

VITE_SUPABASE_URL=https://your-project.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_xxxxx
VITE_ADMIN_EMAIL=admin@example.com
